body{
    background-color: #686868;
    color: white;
}
header{
    color: #fff;
    background-color: #333333;
    padding: 10px;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.principal-link{
    flex: 4;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar-input{
    height: 100%;
    flex: 3;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}
.search-bar-button{
    background-color: #00000000;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
    flex: 1;
}
.search-bar{
    height: 100%;
    flex: 1;
    display: flex;
}