body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0;
    background-color: #686868;
    color: white;
}
header{
    margin:0 auto;
    color: #fff;
    background-color: #333333;
    padding: 10px;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
main{
    padding: 20px;
}
.main-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.principal-link{
    flex: 4;
    font-family: Arial, Helvetica, sans-serif;
}
.search-bar-input{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #5252526d;
    color: #000000;
    height: 100%;
    flex: 3;
    margin: 0 auto;
    padding: 5px;
    border: none;
}
.search-bar-button{
    border-left: #00a703 1px solid;
    border: none;
    color: #ffffff;
    background-color: #00000000;
    padding: 5px;
    height: 100%;
    flex: 1;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.search-bar{
    border-radius: 10px;
    border: #00a703 1px solid;
    height: 100%;
    flex: 1;
    display: flex;
}
.header-links{
    color: #00a703;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.card-video{
    background-color: #333333;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: top;
}
.video-preview{
    width: 100%;
    border-radius: 10px;
}
.video-title{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
.video-container video{
    width: 100%;
    border-radius: 10px;
}
.lista-comentarios{
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #00000099, #00000000);
}
.comentario{
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #33333300;
}